html {
    background: url(/images/mith.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroud-size: cover;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#links {
  font-size: 5.9vw;
  position: fixed;
  top: 70%;
  left: 20%;
}

#links a {
  text-decoration: none;
  color: white;
}

#links li {
  display: inline;
  list-style-type: none;
  margin-right: 60px;
}
